/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
*颜色
 *
 *每种颜色都具有完全相同的色标系统，具有 3 个纯色级别
 *具有不同亮度的颜色，以及 1 种柔和的颜色。
 *
 *-`XXX-1`：最纯色，主要用于彩色文本。它必须
 *满足在“XXX-soft”之上使用时的对比度。
 *
 *-`XXX-2`：主要用于按钮悬停状态的颜色。
 *
 *-`XXX-3`: 纯色背景的颜色，例如按钮的背景颜色。
*必须满足纯白色（#ffffff）文字的对比度
 *其顶部。
 *
 *-`XXX-soft`：用于微妙背景的颜色，例如自定义容器
 *或徽章。放置“XXX-1”颜色时必须满足对比度
 *在它上面。
 *
 *柔和的颜色必须是半透明的alpha通道。这一点至关重要
 *因为它允许在彼此之上添加多种“软”颜色
 *创建重音，例如当内部有内联代码块时
*定制容器。
 *
 *-`default`：纯粹用于微妙指示的颜色，没有任何
 *附加特殊含义，例如菜单悬停状态的背景颜色。
 *
 *-`brand`：用于主要品牌颜色，例如链接文本、按钮
 *品牌主题等
 *
 *-`tip`：用于表示有用的信息。默认主题使用
 *默认情况下的品牌颜色。
 *
 *-`warning`: 用于向用户表示警告。用于定制
 *容器、徽章等
 *
*-`danger`：用于向用户显示错误或危险消息。用过的
 *在定制容器、徽章等中。
 *---------------------------------------------------------------------------*/

:root {
  /* --vp-c-indigo-1: #4f69fd; */
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);
  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);
  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  /**
 * Component: Button
 * -------------------------------------------------------------------------- */

  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);

  /**
 * Component: Home
 * -------------------------------------------------------------------------- */

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    120deg,
    var(--vp-c-indigo-1) 30%,
    #18cefe
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #18cefe 50%,
    #c279ed 50%
  );
  --vp-home-hero-image-filter: blur(44px);

  /**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}
/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
